*

{
    margin: 0;
    box-sizing: border-box;
    background: goldenrod;
   }
    
body
{
    margin-top: 10%;
    font-family: sans-serif;
    background-color: goldenrod;
    padding: 	5%;
    ;}
    
.header {
    background-color: goldenrod;
    height: 14%;
    width: 100%;
    top:2%;
    left:0%;
 

}

img {
width: 100%;
max-width: 1050px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    width: 80%;
}

#contenedor {
    background: goldenrod;
    width: 20%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 1rem;
    align-content: flex-end;
    column-gap: 1rem;
    align-items: center;
}

.item {
    width: 80px;

}

.nav-link{
    color: white;
    text-decoration: None;
}

.titulo-menu {
    font-size: 200%;
    font-weight: bold;
    padding: 20%;
    line-height: 20%;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    }

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;

}
.nav-menu-link{
    padding:8px 12px;
    border-radius: 3px;
    transition: 0.5s;
    }
/* //aquí está la transición  */


.nav-menu-link:hover{
    background-color: #034574;

}
.nav-toggle {
    color:antiquewhite;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;

}

@media(max-width 768px) {
    body {
padding-top: 70px;        
    }
.header {
    height: 60px;
}
.titulo-menu {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}
.nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #2c3e50;
    position: fixed;
    left: 0;
    top: 60%;
    width: 100%;
    padding: 20px 0;
    height: calc(100%-60px);
    overflow-y: auto;
}
.nav-menu-item {    
    line-height: 70px;
}
.nav-menu-link:hover{
    background: none;
    color: #83c5f7;

}
}

h2 {
    color:black;
    font-size: 200%;
}

.contenedor {
    width: 40%;
    background-color: rgb(242, 255, 0);
    margin-top: 1%;
    padding: 25px;
}

.cuadrado {
    color: goldenrod;
    background-color: l;
    display: inline-block;
    width: 20%;
    height: 100px;
    border: 30% double black;
    font-family:  'Roboto', sans-serif;
    border-radius: 10%;
    padding-left: 10%;
    margin: 10%;
    overflow: auto;
    
    }

#div-especial {
    color: black;
    background-color: yellow;
}
.container {
    position: relative;
    border: solid green;
    width: 100%;
    left: 10rem;
    top: 5rem;
    }
    
